$primary: #969600;
$secondary: #007579;
$danger: #ce2001;

@mixin legume-button {
  color: white;
  font-weight: 400;
  letter-spacing: 2px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 0 5px #555;
  line-height: 1;

  &:hover {
    box-shadow: 0 0 6px #444;
  }
}

.legume-button--primary {
  @include legume-button;
  background-color: $primary;
}

.legume-button--secondary {
  @include legume-button;
  background-color: $secondary;
}

.legume-button--danger {
  @include legume-button;
  background-color: $danger;
}

.legume-button--small {
  @include legume-button;
  font-size: 0.75rem;
  padding: 10px 16px;
}

.legume-button--medium {
  @include legume-button;
  font-size: 1rem;
  padding: 11px 20px;
}

.legume-button--large {
  font-size: 1.25rem;
  padding: 12px 24px;
}
